<?xml version="1.0"?>
<!--
    /**
     * @author Andrey Bondarenko
     * @link http://encomage.com
     * @mail info@encomage.com
     */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="storelocator" frontName="storelocator">
            <module name="Encomage_StoreLocator" />
        </route>
    </router>
</config>