<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="encomage" translate="label" sortOrder="100">
            <label>Encomage</label>
        </tab>
        <section id="store_locator" translate="label" sortOrder="15"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Store Locator</label>
            <tab>encomage</tab>
            <resource>Encomage_StoreLocator::store_locator_config</resource>
            <group id="front_options" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Frontend Options</label>
                <field id="is_active" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled On Frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Maps API key</label>
                </field>
                <field id="api_version" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Maps API version</label>
                </field>
                <field id="show_on_column" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled On Frontend</label>
                    <source_model>Encomage\StoreLocator\Model\Config\Source\FrontendColumn</source_model>
                </field>
                <field id="title_on_sidebar" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title On Sidebar</label>
                </field>
                <field id="show_on_sidebar_map" translate="label" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Marker On Sidebar Map</label>
                    <source_model>Encomage\StoreLocator\Model\Config\Source\ShowOnSidebarMap</source_model>
                </field>
                <field id="show_markers_on_sidebar_map" translate="label" type="multiselect" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Marker On Sidebar Map</label>
                    <depends>
                        <field id="*/*/show_on_sidebar_map">marker</field>
                    </depends>
                    <source_model>Encomage\StoreLocator\Model\Config\Source\Markers</source_model>
                </field>
            </group>
            <group id="marker_options" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Map Settings</label>
                <field id="default_lat" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Latitude</label>
                </field>
                <field id="default_lng" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Longitude</label>
                </field>
                <field id="zoom_for_default_map" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Zoom For Default Map</label>
                    <validate>validate-digits-range digits-range-0-22</validate>
                </field>
                <field id="zoom_for_stores_marker" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Zoom For Stores Marker On marker</label>
                    <validate>validate-digits-range digits-range-0-22</validate>
                </field>
                <field id="markers_list_title" translate="label" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Markers List Title</label>
                </field>
            </group>
        </section>
    </system>
</config>